<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>blog@FHBH</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
    <p class="header-text"><span style="color: #e63914">>></span><span style="color: #4dd32c">root</span><span style="color: #f1f34c">@</span><span style="color: #51e9e9">ForHackersByHackers.com</span><span style="color: #f1f34c">#</span> cat blog</p>
    </div>
</header>
